body{
    background-color: #ececec;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{

}

#logo{

}

#search_nav{

}

#search{

}

nav{

}

nav ul{

}

nav ul li a:link {

}

nav ul li a:visited {
    
}

nav ul li a:hover {
    
}

nav ul li a:active {
    
}

#cover {
    
    background-image: url('../img/portada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 950px;
}

#banner{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 950px;
}

section{
    background-color: #ececec;
    width: 950px;
    display: flex;
    justify-content: space-between;
}

video{
    height: 450px;
    width: 450px;
}
